[MASTER]
ignore=__pycache__

[MESSAGES CONTROL]
disable=C0114,C0115,C0116

[FORMAT]
max-line-length=120

[DESIGN]
max-args=10
max-locals=20
max-branches=15
max-statements=50
max-parents=7
max-attributes=10

[TYPECHECK]
ignore-mixin-members=yes

[REPORTS]
output-format=colorized
reports=no

[LOGGING]
logging-modules=logging


